{% block aboutus %}
<div class="bg-black">
    <div class="max-w-full md:max-w-7xl m-auto">
        <div>
          <p class="uppercase tracking-widest s-xl pb-2 text-sm">
            ABOUT THE COMPANY ITSELF
          </p>
          <h1 class="text-3xl md:text-4xl font-bold uppercase underline">
            ABOUT US
          </h1>

        </div>
        <div class="flex flex-col md:flex-row max-w-7xl  m-auto mb-10 ">

            <div class="m-3 mt-0 md:mt-10 ml-0 p-8 md:p-0">
                <div class="img-container">
                    <img
                      src="https://www.pyderator.me/static/media/coffee-hero-img.19a91015.jpg"
                      alt=""
                      class="img rounded-sm"
                    />
                  </div>
                <h1 class="text-2xl md:text-2xl font-bold  ">HRICHA MAHARJAN</h1>
                <h1 class="text-1xl md:text-1xl font-bold text-purple-500 mx-8 underline">FOUNDER &CEO</h1>
                <p class=" text-sm mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquid asperiores assumenda cumque dolor eligendi enim eveniet harum id laboriosam magni.</p>

            </div>
            <div class="m-3 mt-0 md:mt-10 ml-0 p-8 md:p-0">
                <div class="img-container">
                    <img
                      src="https://www.pyderator.me/static/media/coffee-hero-img.19a91015.jpg"
                      alt=""
                      class="img rounded-sm"
                    />
                  </div>
                 <h1 class="text-2xl md:text-2xl font-bold ">HRICHA MAHARJAN</h1>
                <h1 class="text-1xl md:text-1xl font-bold text-purple-500 mx-8 underline ">CO-FOUNDER &CTO</h1>
                <p class=" text-sm mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquid asperiores assumenda cumque dolor eligendi enim eveniet harum id laboriosam magni.</p>


            </div>
            <div class="m-3 mt-0 md:mt-10 ml-0 p-8 md:p-0">
                <div class="img-container">
                    <img
                      src="https://www.pyderator.me/static/media/coffee-hero-img.19a91015.jpg"
                      alt=""
                      class="img rounded-sm"
                    />
                </div>
                 <h1 class="text-2xl md:text-2xl font-bold ">HRICHA MAHARJAN</h1>
                 <h1 class="text-1xl md:text-1xl font-bold text-purple-500 mx-8 underline  ">PRODUCT DESIGNER</h1>
                <p class=" text-sm mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquid asperiores assumenda cumque dolor eligendi enim eveniet harum id laboriosam magni.</p>

            </div>
        </div>
        <div>
            <div>
              <p class="uppercase tracking-widest s-xl pb-2 text-sm">
               lets get in
              </p>
              <h1 class="text-3xl md:text-4xl font-bold uppercase underline">
                contact US
              </h1>

            </div>
            <div class="flex flex-col md:flex-row max-w-7xl  m-auto mb-10 ">
                <div class="m-3 mt-0 md:mt-10 ml-0 p-8 md:p-0">
                    <p>
                        <label>First Name</label>
                        <input type="text">
                    </p>
                    <p>
                        <label>Subject</label>
                        <input type="text">

                    </p>
                    <p><button>Submit</button></p>


                </div>

                <div class="m-3 mt-0 md:mt-10 ml-0 p-8 md:p-0">
                    <p>
                        <label>Last Name</label>
                        <input type="text">
                    </p>
                    <p>
                        <label>Message</label>
                        <input type="text">

                    </p>



                </div>
            </div>

        </div>
    </div>


</div>
{% endblock aboutus %}
