{% block css %}
<link rel="stylesheet" href="/static/css/package.css">
{% endblock css %}
{% block package %}
<div class="bg-black">
  <div class="max-w-full md:max-w-7xl m-auto p-10 xl:p-0">
    <div>
      <p class="uppercase tracking-widest s-xl pb-2 text-sm">
        Lets Plan the Adventure
      </p>
      <h1 class="text-3xl md:text-4xl font-bold uppercase underline tracking-wider">
        Our Best Packages
      </h1>
      <div class="grid grid-rows-4 grid-cols-1 lg:grid-rows-2 lg:grid-cols-2 justify-center">
        <div class="flex flex-row bg-black container">
          <div class="flex flex-col justify-around align-center px-2 max-h-257px">
            <!--   ICONS     -->
            <i class="icon-thumbs-up hover:text-green-500"></i>
            <i class="icon-thumbs-down hover:text-red-500"></i>
          </div>
          <div class="pr-2">
            <div class="flex flex-col sm:flex-row items-center">
              <!--    IMAGE + HALF CONTENT      -->
              <div class="img-container">
                <img src="https://www.pyderator.me/static/media/coffee-hero-img.19a91015.jpg" alt=""
                  class="img rounded-sm" />
              </div>
              <div class="flex flex-col justify-around px-0 sm:px-2">
                <h1 class="text-xl font-bold py-1">Himalays Of Nepal</h1>
                <p class="text-sm py-1">
                  Kathmandu(1) → Pokhara(2) → Chitwan(2) → Kathmandu(2) →
                  Mananag & Mustang(3) → Kathmandu (3)
                </p>
                <div class="flex flex-row justify-between items-center max-w-max">
                  <div class="flex flex-row justify-between items-center py-1">
                    <i class="fa fa-cutlery"></i>
                    <p class="text-sm mx-2">Meal</p>
                  </div>
                  <div class="flex flex-row justify-between items-center py-1 ml-4">
                    <i class="fa fa-bed"></i>
                    <p class="text-sm mx-2">Accomodation</p>
                  </div>
                </div>
                <h2 class="font-bold text-xl py-1">299$ Per Person</h2>
                <div class="flex flex-row justify-between max-w-max">
                  <button class="bg-purple-600 p-2 text-sm rounded-sm hover:bg-purple-700 mr-2">
                    View Details
                  </button>
                  <button>
                    <i class="fa fa-paper-plane send-btn p-3 hover:bg-purple-700 mx-2" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div>
              <p class="text-xs py-2">
                Join us on this 6-day trip, which offers an experience of
                the real Nepal. Discover the spiritual side of the Himalayan
                nation, as you visit holy shrines. The Pashupatinath Temple
                is dedicated to Lord Shiva and lies on the banks of River
                Bagmati.
              </p>
            </div>
          </div>
        </div>

        <div class="flex flex-row bg-black container">
          <div class="flex flex-col justify-around align-center px-2 max-h-257px">
            <!--   ICONS     -->
            <i class="icon-thumbs-up hover:text-green-500"></i>
            <i class="icon-thumbs-down hover:text-red-500"></i>
          </div>
          <div class="pr-2">
            <div class="flex flex-col sm:flex-row items-center">
              <!--    IMAGE + HALF CONTENT      -->
              <div class="img-container">
                <img src="https://www.pyderator.me/static/media/coffee-hero-img.19a91015.jpg" alt=""
                  class="img rounded-sm" />
              </div>
              <div class="flex flex-col justify-around px-0 sm:px-2">
                <h1 class="text-xl font-bold py-1">Himalays Of Nepal</h1>
                <p class="text-sm py-1">
                  Kathmandu(1) → Pokhara(2) → Chitwan(2) → Kathmandu(2) →
                  Mananag & Mustang(3) → Kathmandu (3)
                </p>
                <div class="flex flex-row justify-between items-center max-w-max">
                  <div class="flex flex-row justify-between items-center py-1">
                    <i class="fa fa-cutlery"></i>
                    <p class="text-sm mx-2">Meal</p>
                  </div>
                  <div class="flex flex-row justify-between items-center py-1 ml-4">
                    <i class="fa fa-bed"></i>
                    <p class="text-sm mx-2">Accomodation</p>
                  </div>
                </div>
                <h2 class="font-bold text-xl py-1">299$ Per Person</h2>
                <div class="flex flex-row justify-between max-w-max">
                  <button class="bg-purple-600 p-2 text-sm rounded-sm hover:bg-purple-700 mr-2">
                    View Details
                  </button>
                  <button>
                    <i class="fa fa-paper-plane send-btn p-3 hover:bg-purple-700 mx-2" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div>
              <p class="text-xs py-2">
                Join us on this 6-day trip, which offers an experience of
                the real Nepal. Discover the spiritual side of the Himalayan
                nation, as you visit holy shrines. The Pashupatinath Temple
                is dedicated to Lord Shiva and lies on the banks of River
                Bagmati.
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-row bg-black container">
          <div class="flex flex-col justify-around align-center px-2 max-h-257px">
            <!--   ICONS     -->
            <i class="icon-thumbs-up hover:text-green-500"></i>
            <i class="icon-thumbs-down hover:text-red-500"></i>
          </div>
          <div class="pr-2">
            <div class="flex flex-col sm:flex-row items-center">
              <!--    IMAGE + HALF CONTENT      -->
              <div class="img-container">
                <img src="https://www.pyderator.me/static/media/coffee-hero-img.19a91015.jpg" alt=""
                  class="img rounded-sm" />
              </div>
              <div class="flex flex-col justify-around px-0 sm:px-2">
                <h1 class="text-xl font-bold py-1">Himalays Of Nepal</h1>
                <p class="text-sm py-1">
                  Kathmandu(1) → Pokhara(2) → Chitwan(2) → Kathmandu(2) →
                  Mananag & Mustang(3) → Kathmandu (3)
                </p>
                <div class="flex flex-row justify-between items-center max-w-max">
                  <div class="flex flex-row justify-between items-center py-1">
                    <i class="fa fa-cutlery"></i>
                    <p class="text-sm mx-2">Meal</p>
                  </div>
                  <div class="flex flex-row justify-between items-center py-1 ml-4">
                    <i class="fa fa-bed"></i>
                    <p class="text-sm mx-2">Accomodation</p>
                  </div>
                </div>
                <h2 class="font-bold text-xl py-1">299$ Per Person</h2>
                <div class="flex flex-row justify-between max-w-max">
                  <button class="bg-purple-600 p-2 text-sm rounded-sm hover:bg-purple-700 mr-2">
                    View Details
                  </button>
                  <button>
                    <i class="fa fa-paper-plane send-btn p-3 hover:bg-purple-700 mx-2" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div>
              <p class="text-xs py-2">
                Join us on this 6-day trip, which offers an experience of
                the real Nepal. Discover the spiritual side of the Himalayan
                nation, as you visit holy shrines. The Pashupatinath Temple
                is dedicated to Lord Shiva and lies on the banks of River
                Bagmati.
              </p>
            </div>
          </div>
        </div>

        <div class="flex flex-row bg-black container">
          <div class="flex flex-col justify-around align-center px-2 max-h-257px">
            <!--   ICONS     -->
            <i class="icon-thumbs-up hover:text-green-500"></i>
            <i class="icon-thumbs-down hover:text-red-500"></i>
          </div>
          <div class="pr-2">
            <div class="flex flex-col sm:flex-row items-center">
              <!--    IMAGE + HALF CONTENT      -->
              <div class="img-container">
                <img src="https://www.pyderator.me/static/media/coffee-hero-img.19a91015.jpg" alt=""
                  class="img rounded-sm" />
              </div>
              <div class="flex flex-col justify-around px-0 sm:px-2">
                <h1 class="text-xl font-bold py-1">Himalays Of Nepal</h1>
                <p class="text-sm py-1">
                  Kathmandu(1) → Pokhara(2) → Chitwan(2) → Kathmandu(2) →
                  Mananag & Mustang(3) → Kathmandu (3)
                </p>
                <div class="flex flex-row justify-between items-center max-w-max">
                  <div class="flex flex-row justify-between items-center py-1">
                    <i class="fa fa-cutlery"></i>
                    <p class="text-sm mx-2">Meal</p>
                  </div>
                  <div class="flex flex-row justify-between items-center py-1 ml-4">
                    <i class="fa fa-bed"></i>
                    <p class="text-sm mx-2">Accomodation</p>
                  </div>
                </div>
                <h2 class="font-bold text-xl py-1">299$ Per Person</h2>
                <div class="flex flex-row justify-between max-w-max">
                  <button class="bg-purple-600 p-2 text-sm rounded-sm hover:bg-purple-700 mr-2">
                    View Details
                  </button>
                  <button>
                    <i class="fa fa-paper-plane send-btn p-3 hover:bg-purple-700 mx-2" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div>
              <p class="text-xs py-2">
                Join us on this 6-day trip, which offers an experience of
                the real Nepal. Discover the spiritual side of the Himalayan
                nation, as you visit holy shrines. The Pashupatinath Temple
                is dedicated to Lord Shiva and lies on the banks of River
                Bagmati.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock package %}